html,body {
	margin: 0px;
	height: 100%;
	width: 100%;
  font-family: 'Fauna One', serif !important;
	font-size: 14px;
	overflow: hidden;
}

.body{
	overflow: auto;
}

.nheader {
    height: 50px;
    min-height: 50px !important;
    z-index: 999 !important;
    border-radius: 0px !important;
}

a {
    color: inherit !important;
    text-decoration: initial !important;
}

a:hover {
    color: inherit !important;
    text-decoration: initial !important;
}

a:active {
    color: inherit !important;
    text-decoration: initial !important;
}

.fx{
	display: flex;
}

.cl {
    flex-direction:column;
}

.fh{
	height: 100%;
}

.fw{
	width: 100%;
}

.pad24{
  padding: 24px;
}

.pad20{
  padding: 20px;
}


.w {
    padding: 16px;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    /*border-radius: 8px;*/
    display: none;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    width: 100px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.w:hover {
    background-color: #5c96bc;
    color: white;

}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.jsplumb-hover, .jsplumb-source-hover, .jsplumb-target-hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}
.dp {
    position: absolute;
    bottom: 20%;
    left: 5px;
    width: 1em;
    height: 1em;
    background-color: red;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jsplumb-endpoint {
    z-index: 3;
}

.padr20{
    padding-right: 20px;
}

.field.flex2 {
    padding-right: 8px;
    /*width: 158px;*/
    /*padding-right: 80px;*/
}

.field {
    /*width: 45%;*/
}

.fx.reverse {
    flex-direction: row-reverse;
}

.msidebar{
    position: absolute !important;
    width: 280px !important;
    margin: 0px !important;
    right: 0px !important;
    top: 60px !important; 
}

div#editnode {
    top: 50px;
    width: 332px;
    position: relative;
    left: 0px !important;
    margin-right: 2px !important;
    margin: -50px 5px -8px -54px !important;
    height: 100vh;
    z-index: 99999;
    top: 90px;
    border-left: 1px solid #95a5a6;
}

.w.active {
    outline: 1px dotted green;
    outline-offset: 4px;
}

.enodeclose{
    position: relative;
    padding: 14px 0px;
}

.header.title {
    font-size: 20px;
    font-weight: 200;
}

.header {
    display: flex !important;
    align-items: center;
    font-weight: 200 !important;
    height: 46px !important;
    min-height: 46px !important;
    font-size: 18px;
}

a{
    /*color: #2185d0 !important;*/
}

a:hover:{
    /*color: #2185d0 !important;*/
}

.scroll{
    overflow: scroll;
}

.sauto{
 overflow: auto;
}

.ohid{
    overflow: hidden;
}

.nomargin{
    margin: 0px !important;
}
.fsz22{
    font-size: 22px;
}

.groupsidebar{
    height: 100vh;
    border-right: 1px solid rgba(128, 128, 128, 0.33);
    width: 280px;
    /*padding: 14px;*/
}

.groupadd{
    font-size: 40px !important;
    position: relative;
    align-items: center;
    top: 10px;
    left: -4px;
    color: #16a085;
}

.card.flow {
    min-height: 180px !important;
    height: 180px !important;
    margin: 16px !important;
    display: inline-block !important;
    border: 1px solid rgba(128, 128, 128, 0.35);
}

.pad10{
    padding: 10px;
}

.viewbar{
    padding: 14px 18px;

}

.margin0{
    margin: 0px !important;
}

.noshad{
    box-shadow: none !important;
}

.bgreen{
 background: #16a085 !important;
}


.ui.item.nbf:before{
    display: none;
}

.ui.item.nbf:after{
    display: none;
}

.padl14{
    padding-left: 14px !important;
}

.h130{
    height: 130px;
}

input[type="color"] {
    border: none;
    width: 36px;
    height: 28px;
    position: relative;
    top: 32px;
    left: 234px;
    background: transparent;
}
input[type="color"]:active{
    outline: none !important;

}

.editable{
    border: none;
}

.editable:active{
    outline: none;   
}

.w60{
    width: 60%;
}

.nobr{
    border-radius:0px !important;
}

.closebox{
    position: relative;
    left: 88%;
    top: -6px;
}

.fx2 {
    flex-grow: 2;
}

.fx-aend{
        justify-content: flex-end;
}

.white{
    color: #fff !important;
}

.pad8{
    padding: 8px;
}

.pad14{
    padding: 12px 18px;
}

.bg-lgray{
    background:rgba(149, 165, 166, 0.15)
}

.ui.positive.button{
    background: #16a085 !important;
}
.pad16{
    padding: 16px;
}

.flow.extra.content {
    height: 48px;
    background: rgba(128, 128, 128, 0.06);
    display: flex;
    align-items: center;
    padding: 0px 16px;
}

.item.header {
    font-size: 18px !important;
}

.ui.button{
    border: none !important;
}

.ui.modal > .close{
    top: 0.5rem !important;
    right: 0.5rem !important;
    color: #000000 !important; 
}
.o-as{
    overflow: auto;
}
.ui.primary.button{
    background: #16a085 !important;
}

.h36{
    height: 36px;
}

.ember-select {
    height: 36px !important;
}