
    {{#ui-modal name="profile" id="editnode" class="active" onApprove=(action 'saveNode') onDeny=(action 'cancelNode')}}
      
      <div class="header">
        <div class="fx">
          <i class="close icon deny enodeclose" {{action 'closeEditDialog'}}></i>
          <div class="header title">Edit Node  </div>
        </div>
        
      </div>
      
      <form class="ui form pad24">
             
              <div class="field">
                <label> Name</label>
                {{input type="text" value=selectedNode.name placeholder='Name'}}
              </div>
              <div class="field flex2">
                  <label>Text Color</label>
                  {{input type="color" value=selectedNode.textcolor placeholder='Name'}}
              </div>
              <div class="field flex2">
                  <label>Background Color</label>
                  {{input type="color" value=selectedNode.backgroundcolor placeholder='Name'}}
              </div>
                
      

      </form>

      
    {{/ui-modal}}

