{{#if createplandialog}}
{{/if}}


      {{#ui-modal name="profile" id="createflow" class="profile" onApprove=(action 'createPlan') onDeny=(action 'cancelPlan')}}
        <i class="close icon"></i>
        <div class="header">
          New Plan
        </div>
        <form class="ui form pad24">
        <div class="field">
          <label> Name</label>
          {{input type="text" valueBinding=newplan.name placeholder='Name'}}
        </div>
        <div class="field">
          <label> Description</label>
          {{input type="text" valueBinding=newplan.description placeholder='Description'}}
        </div>
        <div class="field">
          <label>Type</label>
            <select id="flowtypes">
                <option value='flowchart'>Flowchart</option>
                <option value='bezier'>Bezier</option>
                <option value='statemachine'>Statemachine</option>
                <option value='straight'>Straight</option>
            </select>
        </div>


      </form>

        <div class="actions">
            <div class="ui black deny button">
              Cancel
            </div>
            <div class="ui positive right icon button bgreen">
              Ok
            </div>
        </div>
        
      {{/ui-modal}}

