
    {{#ui-modal name="profile" id="editflow" class="noshad" onApprove=(action 'saveFlow') onDeny=(action 'cancelFlow')}}
      
      <div class="header">
        <div class="fx">
          <i class="close icon deny enodeclose" {{action 'cancelFlow'}}></i>
          <div class="header title">Edit Flow  </div>
        </div>
        
      </div>
      
      <form class="ui form pad24">
             
              <div class="field">
                <label> Name</label>
                {{input type="text" value=selectedNode.name placeholder='Name'}}
              </div>

      </form>

      
    {{/ui-modal}}

