
    {{#ui-modal name="profile" id="editflow" class="noshad" onApprove=(action 'saveFlow') onDeny=(action 'cancelFlow')}}
      
      <div class="header">
        <div>
          <div class="header title">Edit Flow  </div>
        </div>
        <div class="closebox">
          <i class="close icon deny enodeclose" {{action 'cancelFlow'}}></i>  
        </div>
      </div>
      
      <form class="ui form pad24">
             
              <div class="field">
                <label> Name</label>
                {{input type="text" value=selectedNode.name placeholder='Name'}}
              </div>


              <select>
              <option value='all'>All</option>
                {{#each groups}}
                    <option value={{id}}>{{name}}</option>
                {{/each}}
                
              </select>
      </form>

      
    {{/ui-modal}}

