    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Type</div>
    <div class="menu">
      <div class="item" data-value="1">Flowchart</div>
      <div class="item" data-value="2">Bezier</div>
      <div class="item" data-value="3">Statemachine</div>
      <div class="item" data-value="4">Straight</div>
    </div>
